@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

/* GENERAL STYLES
================================================== */
html {
  height: 100%;
}

body {
  font: 15px/23px "open sans condensed", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #000000;
  color: #ffffff;
}

p {
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-align: center;
}

h2,
.h2,
h3,
.h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h4,
.h4 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
}

.entry-title {
  margin-top: 60px;
  margin-bottom: 45px;
}

ul li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}

.wrapper {
  z-index: 600;
  position: relative;
}

.pattern {
  background-image: url(https://creativeservices.com.au/wp-content/themes/bootstrapwp/img/pattern.png);
  background-repeat: repeat;
  background-attachment: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* .pattern-pages {
  background-image: url(https://creativeservices.com.au/wp-content/themes/bootstrapwp/img/pattern.png);
  background-repeat: repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
} */

.img-responsive {
  display: block;
  max-width: 85%;
  height: auto;
  margin: 30px auto;
}
/*CONTACT
================================================== */
.carousel-contact {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 15;
  width: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  border: 1px solid #ffffff;
  border-radius: 0px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.btn a,
.btn a:visited {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.btn a:hover,
.btn a:active,
.btn a:focus,
.btn.focus,
.btn:focus,
.btn:hover {
  color: #ffffff;
  background: #b8e5f2;
  text-decoration: none;
  -webkit-animation: neonBox 1.5s ease-in-out infinite alternate;
  -moz-animation: neonBox 1.5s ease-in-out infinite alternate;
  animation: neonBox 1.5s ease-in-out infinite alternate;
}

/* ARTIST LINKS
================================================== */
.carousel-artists {
  width: 100%;
  padding-left: 0;
  margin-left: 0%;
  text-align: center;
}

.artist-link {
  font-size: 1.4em;
  color: #ffffff;
  text-shadow: #000 2px 2px;
  font-weight: 700;
}

a.artist-link,
a.artist-link:visited
{
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  text-shadow: #000 2px 2px;
}

a.artist-link:hover,
a.artist-link:active,
a.artist-link:focus{
  color: #b8e5f2;
  text-decoration: none;
  text-shadow: #000 2px 2px;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

/* NEONZ
================================================== */
@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4ebfde,
      0 0 70px #4ebfde, 0 0 80px #4ebfde, 0 0 100px #4ebfde, 0 0 150px #4ebfde;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ebfde,
      0 0 35px #4ebfde, 0 0 40px #4ebfde, 0 0 50px #4ebfde, 0 0 75px #4ebfde;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4ebfde,
      0 0 70px #4ebfde, 0 0 80px #4ebfde, 0 0 100px #4ebfde, 0 0 150px #4ebfde;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ebfde,
      0 0 35px #4ebfde, 0 0 40px #4ebfde, 0 0 50px #4ebfde, 0 0 75px #4ebfde;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4ebfde,
      0 0 70px #4ebfde, 0 0 80px #4ebfde, 0 0 100px #4ebfde, 0 0 150px #4ebfde;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ebfde,
      0 0 35px #4ebfde, 0 0 40px #4ebfde, 0 0 50px #4ebfde, 0 0 75px #4ebfde;
  }
}

@-webkit-keyframes neonBox {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4ebfde,
      0 0 70px #4ebfde, 0 0 80px #4ebfde, 0 0 100px #4ebfde, 0 0 150px #4ebfde;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ebfde,
      0 0 35px #4ebfde, 0 0 40px #4ebfde, 0 0 50px #4ebfde, 0 0 75px #4ebfde;
  }
}

@-moz-keyframes neonBox {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4ebfde,
      0 0 70px #4ebfde, 0 0 80px #4ebfde, 0 0 100px #4ebfde, 0 0 150px #4ebfde;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ebfde,
      0 0 35px #4ebfde, 0 0 40px #4ebfde, 0 0 50px #4ebfde, 0 0 75px #4ebfde;
  }
}

@keyframes neonBox {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4ebfde,
      0 0 70px #4ebfde, 0 0 80px #4ebfde, 0 0 100px #4ebfde, 0 0 150px #4ebfde;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4ebfde,
      0 0 35px #4ebfde, 0 0 40px #4ebfde, 0 0 50px #4ebfde, 0 0 75px #4ebfde;
  }
}

/* BIG VIDEO BACKGROUND
================================================== */
/* .big-background {
  z-index: 550;
  text-align: center;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
} */

#bgndVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.big-background .big-background-container {
  width: 830px;
  max-width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a.big-background-btn {
  font-family: "open sans condensed", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  padding: 10px 14px;
  cursor: pointer;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.4s background ease;
  -moz-transition: 0.4s background ease;
  -o-transition: 0.4s background ease;
  transition: 0.4s background ease;
}

.big-background-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.big-background-default-image {
  background: url(https://archive.org/download/btrupp-0006-palm-trees-15s/btrupp-0006-palm-trees-15s.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  backface-visibility: hidden;
}

