.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.header h2 {
  font-size: 4em;
}

.home-module--header--25SFx img {
  width: 85% !important;
}

.header h3 {
  font-size: 4em;
  font-weight: 400;
}
.btn {
  display: inline-block;
  background: #353535;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  transition: all 0.4s;
}
.btn:hover {
  background: white;
  border: 1px solid #353535;
  color: #353535;
}
