.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}
.projects {
  margin: 100px auto;
  width: 47%;
}
.projects > div {
  margin: 100px auto;
}
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.projects p {
  color: #ccc;
  margin-top: 4px;
}

.desc {
  color: rgb(53, 53, 53) !important;
}
